<!-- css found below is to override bootstrap css -- > .card {
  width: 200px !important;
  /* overflow is hidden to prevent content 
             from overflow */
  overflow: hidden;
  height: 250px !important;
  text-align: center;
  margin: auto;
}
.card-img-top {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
  /* These three lines make image to be displayed 
             in center. Please don't change them or else 
             site will collapse :) */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.img-box {
  height: 200px;
}
header {
  position: sticky;
  top: 0px;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  z-index: 10;
  background-color: gold;
}
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL div div a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL div div a:hover:not(.header) {
  background-color: #eee;
}
